<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(RoadToStobbs.Layouts.MainLayout)" />
        </Found>
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
    <MessageProvider />
    <PageProgressProvider />
</Blazorise.ThemeProvider>
@code {
    private Theme theme = new()
        {
            BarOptions = new()
            {
                HorizontalHeight = "72px"
            },
            ColorOptions = new()
            {
                Primary = "#ED1C25", // Red
                Secondary = "#A7A9AC", // Grey
                Success = "#0CCA4A", // Dark pastel green
                Info = "#4567FF", // Neon blue
                Warning = "#1D3354", // Delft blue
                Danger = "#FF9F1C", // Orange peel
                Light = "#e3e5e8", // White
                Dark = "#1A1A1A", // Eerie black
            },
            BackgroundOptions = new()
            {
                Primary = "#ED1C25", // Red
                Secondary = "#A7A9AC", // Grey
                Success = "#0CCA4A", // Dark pastel green
                Info = "#4567FF", // Neon blue
                Warning = "#1D3354", // Delft blue
                Danger = "#FF9F1C", // Orange peel
                Light = "#e3e5e8", // White
                Dark = "#1A1A1A", // Eerie black
            },
            InputOptions = new()
            {
                CheckColor = "#ED1C25",
            }
        };
}