@namespace RoadToStobbs.Components

<Card>
    <CardBody>
        <Row RowColumns="RowColumns.Are3">
            @if (Data != null)
            {
                <Column>
                    <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                        <Figure Size="FigureSize.Is32x32">
                            @{
                                string team_name = Api.Teams.Instance().TeamIdNameMap[Data.team1];
                                string team_name_stripped = new string(team_name.ToCharArray().Where(c =>
                                !Char.IsWhiteSpace(c)).ToArray());
                                string path = $"logos/{team_name_stripped}.png";
                                <FigureImage Source="@path" />
                            }
                        </Figure>
                    </Div>
                </Column>
                <Column>
                    <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                        <Text>@Data.team1_wins : @Data.team2_wins</Text>
                    </Div>
                </Column>
                <Column>
                    <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                        <Figure Size="FigureSize.Is32x32">
                            @{
                                string team_name = Api.Teams.Instance().TeamIdNameMap[Data.team2];
                                string team_name_stripped = new string(team_name.ToCharArray().Where(c =>
                                !Char.IsWhiteSpace(c)).ToArray());
                                string path = $"logos/{team_name_stripped}.png";
                                <FigureImage Source="@path" />
                            }
                        </Figure>
                    </Div>
                </Column>
            }
        </Row>
    </CardBody>
</Card>

@code {
    [Parameter] public string Text { get; set; }
    [Parameter] public Data.Matchup Data { get; set; }

    private string Team1Name { get; set; }
    private string Team2Name { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}