/* _content/RoadToStobbs/Components/Layout/ThemeColorSelector.razor.rz.scp.css */
.demo-theme-color-item[b-a9qj66q9qi] {
    display: table-cell;
    width: 36px;
    height: 36px;
    vertical-align: top;
    text-align: center;
    color: white;
    cursor: pointer;
}

    .demo-theme-color-item .material-icons[b-a9qj66q9qi] {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
