@page "/"
@using RoadToStobbs.Components
@using RoadToStobbs.Api

<Row>
    @if (matchups != null)
    {
        const int MAX_ROUNDS = 6;
        int currentRound = matchups.Count();

        foreach (Data.Matchups round in matchups)
        {
            <Column>
                <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                    @foreach (Data.Matchup matchup in round.matchups)
                    {
                        var _matchup = matchup;
                        <Matchup Data="@_matchup" />
                    }
                </Div>
            </Column>
        }

        for (int i = currentRound; i <= MAX_ROUNDS - currentRound + 1; i++)
        {
            var i0 = i;
            if (i0 == 1) continue;

            <Column>
                <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                    @for (int j = 0; j < Math.Pow(2, MAX_ROUNDS - i0); j++)
                    {
                        string idx = j.ToString();
                        <Matchup />
                    }
                </Div>
            </Column>
        }

        <Column>
            <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">
                <Image Source="logos/playoffs.png" Width="Width.Is100" />
            </Div>
        </Column>
    }
</Row>

@code {

    private List<Data.Matchups>? matchups { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
    }

    protected override void OnInitialized()
    {
        matchups = Matchups.Instance().GetMatchups();
        base.OnInitialized();
    }
}